<!DOCTYPE html>
<html lang="en">

<head>
    <title>Client Page - MMS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS style sheet for client page-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='clients_info.css') }}">
    <!--Link JavaScript + Pass the Flask variables-->
    
    <script>
        data = {{ data | tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='clients_info.js') }}"></script>

</head>


<body>
    <div style = "min-height:100%; position:relative;">
            <!--Create Header-->
        <header>
            <!--Back Button-->
            <i class="arrow left" onclick="window.location.href='/clients';" ></i>

        <h1 style="margin-bottom: 8px;">Client Page</h1>
    </header>

    <!--Main Body-->
    <toplayer style="display: flex; flex-wrap: wrap;">
        <div class="container">
            <h1 style="font-size: 28.8px;"> First Name: </h1> <p> {{ first_name }}</p>
            <h1 style="font-size: 28.8px;"> Last Name: </h1> <p> {{ last_name }}</p>
            <h1 style="font-size: 28.8px;"> Phone Number: </h1> <p> {{ phone_number }}</p>
            <h1 style="font-size: 28.8px;"> D.O.B.: </h1> <p> {{ dob }}</p>
        </div>

        <!--Create Prescription Button-->
        <button style="background-color: #EA8B96; color: #863E46; margin-left: 5px;"
            onclick="window.location.href='/clients/{{ phone_number }}/create';">
            <span>&#43;</span> <h1 style="font-size: 28.8px; margin: 10px;">Create Prescription</h1>
        </button>
    </toplayer>

    <midlayer style="padding-bottom:2vh">
        <div class="section">
            <p style="font-size: 32px;">Active Perscriptions</p> 
            <div class="scrollBox" id="item-list"></div>
        </div>
        <div class="section">
            <p style="font-size: 32px;">History</p> 
            <div class="scrollBox" id="old-list"></div>
        </div>
    </midlayer>
    <footer>

    </footer>
    </div>
    

</body>
</html>