<!DOCTYPE html>
<html lang="en">

<head>
    <title>Client Page - MMS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS style sheet for home page-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>


<body>
TEMP PAGE RAHHH


    <!--Create Header-->
    <header>
        <h1>Medicine Management System</h1>
    </header>

   <!--Main Body-->
   <main>
        <!--Manage Prescription Orders Button-->
        <button style="background-color: #EA8B96; color: #863E46;"
            onclick="window.location.href='/prescription/client/pre-creation';">
            aniss this is for u <br>
            dont change anything on this page pls
        </button>
    </main>

</body>
</html>