<!DOCTYPE html>
<html lang="en">

<head>
    <title>Manage Client Prescriptions - MMS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS style sheet for inventory search page-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='clients_search.css') }}">
    <!--Link JavaScript + Pass the Flask variables-->
    <script>
        data = {{ data | tojson }};
        search = "clients";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='search.js') }}"></script>
</head>


<body>
    <!--Main Header-->
    <header style="background-color: #EA8B96;">
        <!--Back Button-->
        <button data-testid="back" onclick="window.location.href='/';">
            <i class="arrow left"></i>
        </button>
        <!--Title-->
        <h1>Client Lookup</h1>
    </header>

    <!--Search Bar Header -->
    <header style="background-color: #FAF1F2;">
        <!--Drug Name Search Field-->
        <form method="POST">
            <input type="text" name="search_par" placeholder="Name or Phone Number..." required>
        </form>
    </header>

    <!--Section Subtitles-->
    <header>
        <div class="row">
            <div class="col reg"><h3>Client Info</h3></div>
            <div class="col reg"><h3></h3></div>
            <div class="col reg"><h3>Prescription Info</h3></div>
        </div>
    </header>

    <!--Section to Hold The Buttons-->
    <main id="button-list">
    </main>

</body>
</html>
