<!DOCTYPE html>
<html lang="en">

<head>
    <title>Prescription Creation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS style sheet for home page-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>


<body>


    <!--Create Header-->
    <header>
        <h1>Prescription Creation</h1>
    </header>

   <!--Main Body-->
   <main>
    
    <form id="myForm" method="POST" action="{{ url_for('client')}}">
        <label for="dname">Drug Name:</label><br>
        <input type="text" id="dname" name="dname" value=""><br>
        <label for="DIN">DIN:</label><br>
        <input type="text" id="DIN" name="DIN" value=""><br>
        <label for="dosage">Dosage:</label><br>
        <input type="text" id="dosage" name="dosage" value=""><br>
        <label for="preBy">Prescribed By:</label><br>
        <input type="text" id="preBy" name="preBy" value=""><br>
        <label for="interval">Refill Interval:</label><br>
        <input type="text" id="interval" name="interval" value=""><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    

    <button style="background-color: #EA8B96; color: #863E46;"
            onclick="window.location.href='/prescription/client';">
        Cancel
        </button>
    </main>

    

</body>
</html>