<!DOCTYPE html>
<html lang="en">

<head>
    <title>ANISS CHANGE THIS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS style sheet for home page-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>


<body>
TEMP PAGE RAHHH


    <!--Create Header-->
    <header>
        <h1>CHANGE THIS</h1>
    </header>

   <!--Main Body-->
   <main>
    CHANGE
    </main>

</body>
</html>