<!DOCTYPE html>
<html lang="en">

<head>
    <title>Search Inventory - Medicine Management System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS style sheet for inventory search page-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='inventory_search.css') }}">
    <!--Link JavaScript + Pass the Flask variables-->
    <script>
        data = {{ data | tojson }};
        search = "inv";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='search.js') }}"></script>
</head>


<body>
    <!--Main Header-->
    <header style="background-color: #79D0E0;">
        <!--Back Button-->
        <button data-testid="back" onclick="window.location.href='/';">
            <i class="arrow left"></i>
        </button>
        <!--Title-->
        <h1>Drug Inventory</h1>
    </header>

    <!--Search Bar Header -->
    <header style="background-color: #F0F7F9;">
        <!--Drug Name Search Field-->
        <form method="POST">
            <input type="text" name="search_par" placeholder="Drug Name or DIN..." required>
        </form>
    </header>

    <!--Section Subtitles-->
    <header>
        <div class="row">
            <div class="col reg"><h3>Identification</h3></div>
            <div class="col reg"><h3>Usage</h3></div>
            <div class="col reg"><h3>Dosage</h3></div>
            <div class="col reg"><h3>Quantity</h3></div>
        </div>
    </header>

    <!--Section to Hold The Buttons-->
    <main id="button-list">
    </main>

</body>
</html>
